{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "printWidth": 80,
  "disableLanguages": [],
  "overrides": [
    {
      "files": ["*.css", "*.scss", "*.sass"],
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
